<h2>Redditor's Interactive Guide to Underappreciated Altcoins</h2>
<div class="subheading">by <%= link_to "chayblay", "https://www.reddit.com/r/altcoin/comments/7ophbu/how_do_i_actually_find_coins_before_theyre/dsbnane/", target: :blank %> and <%= link_to "your's truly", "https://www.reddit.com/user/colorfulfool", target: :blank %></div>